<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.zrar.note.dao.NoteDao">
	<select id="findNotesByNotebookId" parameterType="string" resultType="map">
		select
			cn_note_id as "id",
			cn_note_title as title
		from
			cn_note
		where
			cn_notebook_id=#{notebookId}
			and
			cn_note_status_id= '1'
	</select>
	
	<select id="getNoteByNoteId" parameterType="string" resultType="map">
		select
			cn_note_id as 'id',
			cn_note_title as title,
			cn_note_body as body
		from
			cn_note
		where
			cn_note_id = #{noteId}
	</select>
	
	<select id="findNoteByNoteId" parameterType="string" resultType="int">
		select
			count(*)
		from
			cn_note
		where
			cn_note_id = #{noteId}
	</select>
	
	<update id="updateNote" parameterType="map">
		update
			cn_note
		<set>
			<trim suffixOverrides=",">
				<if test="notebookId != null">
					cn_notebook_id = #{notebookId},
				</if>
				<if test="userId != null">
					cn_user_id = #{userId},
				</if>
				<if test="noteStatusId != null">
					cn_note_status_id = #{noteStatusId},
				</if>
				<if test="noteTitle != null">
					cn_note_title = #{noteTitle},
				</if>
				<if test="noteBody != null">
					cn_note_body = #{noteBody},
				</if>
				<if test="createTime != null">
					cn_note_create_time = #{createTime},
				</if>
				<if test="lastModifyTime != null">
					cn_note_last_modify_time = #{lastModifyTime}
				</if>
			</trim>
		</set>
		<where>
			cn_note_id = #{noteId}
		</where>
	</update>
	<insert id="insertNote" parameterType="com.zrar.note.entity.Note">
		insert into cn_note(
			cn_note_id,
			cn_notebook_id,
			cn_user_id,
			cn_note_status_id,
			cn_note_type_id,
			cn_note_title,
			cn_note_body,
			cn_note_create_time,
			cn_note_last_modify_time
		) values (
			#{id},
			#{notebookId},
			#{userId},
			#{statusId},
			#{typeId},
			#{title},
			#{body},
			#{createTime},
			#{lastModifyTime}
		)
	</insert>
	
</mapper>